
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}



.top-container {

  background-color: #E4F9F5;
  position: relative;
  padding: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {

position: absolute;
left: 300px;
bottom: 300px;
}


.middle-container {
  
  margin: 100px auto 100px auto;

}


.computer {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.book-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}


.skill-row {
  width: 50%;
  margin: 100px auto 150px auto;
  text-align: left;
  line-height: 2;
}


.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 150px;
}

.bottom-container {
 
  background-color: #66BFBF;
  padding-top: 30px;
  padding-bottom: 30px;

}


.button {
  background-color: #11cdd4;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 130px;
  margin-bottom: 40px;
  padding-top: 7px;
  padding-bottom: 5px;
  font-family: 'Montserrat', sans-serif;

}
.button:hover {
  background-color: #0d9ea3;
}

.footer-link {
  margin-left: 35px;
  color: #11999E;
}

.copyright {
  margin-top: 25px;
  color: #EAF6F6;

}

.links {
  color: #11999E;
}